.container{
  width: 1200px;
  margin: auto;
}
.about-me{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
  margin-left: 100px;
}
.info li{
  list-style: none;
}
.center{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.center div{
  width: 800px;
}